* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body {
    height: 100vh;
    width: 100vw;
}
.container {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    background-color: lightblue;
}